<p-card class="dashboard-container">
  <p-table
    [value]="selectUsersLoading() ? skeletonPlaceholder : users()"
    [tableStyle]="{ width: '100%' }"
    size="small"
    stripedRows>
    <ng-template #caption>
      <div class="caption-wrapper">
        <h1>Welcome to our <span class="important-text">USER'S</span> list</h1>
        @if (isAdmin()) {
          <button
            pButton
            class="button-add"
            (click)="openUserModal()"
            icon="pi pi-plus"
            size="small"
            pTooltip="Create User"
            tooltipPosition="left"></button>
        }
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 25%">Username</th>
        <th style="width: 25%">Name</th>
        <th style="width: 25%">Email</th>
        <th style="width: 15%">Admin</th>
        @if (isAdmin()) {
          <th></th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-user>
      @if (selectUsersLoading()) {
        <ng-container *ngTemplateOutlet="skeleton"></ng-container>
      } @else {
        <tr class="table-row">
          <td [pTooltip]="user.username" tooltipPosition="left">{{ user.username | ellipsis }}</td>
          <td [pTooltip]="user.name" tooltipPosition="left">{{ (user.name | ellipsis) || '-' }}</td>
          <td [pTooltip]="user.email" tooltipPosition="left">{{ (user.email | ellipsis) || '-' }}</td>
          <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
          @if (isAdmin()) {
            <td>
              <div class="buttons-wrapper">
                <button
                  pButton
                  class="button-edit"
                  type="button"
                  icon="pi pi-pencil"
                  (click)="openUserModal(user)"
                  size="small"
                  severity="secondary"
                  pTooltip="Edit User"
                  tooltipPosition="left"></button>
                <button
                  pButton
                  class="button-delete"
                  type="button"
                  icon="pi pi-times"
                  (click)="deleteUser($event, user)"
                  size="small"
                  severity="danger"
                  pTooltip="Delete User"
                  tooltipPosition="right"></button>
              </div>
            </td>
          }
        </tr>
      }
    </ng-template>

    <ng-template #skeleton>
      <tr class="table-row">
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
        <td><p-skeleton /></td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

@if (userModalVisible()) {
  <p-dialog
    [header]="selectedUser() ? 'Edit User' : 'Create User'"
    [modal]="true"
    [visible]="userModalVisible()"
    (visibleChange)="closeUserModal()"
    [style]="{ width: '600px', margin: '0 20px' }">
    <app-user-form
      [selectedUser]="selectedUser()"
      (submitUser)="selectedUser() ? editUser($event) : createUser($event)"
      (closeModal)="closeUserModal()" />
  </p-dialog>
}

<p-confirmPopup #confirmPopup></p-confirmPopup>
