<form [formGroup]="form" (ngSubmit)="onSubmit()" role="form" aria-labelledby="user-form-heading">
  <p-floatlabel class="input-wrapper" variant="on">
    <input
      pInputText
      id="username"
      formControlName="username"
      autocomplete="off"
      fluid
      aria-required="true"
      [attr.aria-invalid]="usernameField!.invalid && usernameField!.dirty ? 'true' : 'false'" />
    <label for="username">Username</label>
  </p-floatlabel>
  <ng-container *ngTemplateOutlet="errorsTemplate; context: { field: usernameField, minLength, maxLength }">
  </ng-container>

  <p-floatlabel class="input-wrapper" variant="on">
    <p-password
      id="password"
      formControlName="password"
      autocomplete="off"
      [feedback]="false"
      [toggleMask]="true"
      fluid
      aria-required="true"
      [attr.aria-invalid]="passwordField!.invalid && passwordField!.dirty ? 'true' : 'false'" />
    <label for="password"
      >Password
      @if (selectedUser()) {
        <small>(optional change)</small>
      }
    </label>
  </p-floatlabel>
  <ng-container
    *ngTemplateOutlet="errorsTemplate; context: { field: passwordField, minLength, maxLength: maxLengthPassword }">
  </ng-container>

  <p-floatlabel class="input-wrapper" variant="on">
    <input
      pInputText
      id="name"
      formControlName="name"
      autocomplete="off"
      fluid
      [attr.aria-invalid]="nameField!.invalid && nameField!.dirty ? 'true' : 'false'" />
    <label for="name">Name <small>(optional)</small></label>
  </p-floatlabel>
  <ng-container *ngTemplateOutlet="errorsTemplate; context: { field: nameField, minLength, maxLength }"> </ng-container>

  <p-floatlabel class="input-wrapper" variant="on">
    <input
      pInputText
      id="email"
      formControlName="email"
      autocomplete="off"
      fluid
      [attr.aria-invalid]="emailField!.invalid && emailField!.dirty ? 'true' : 'false'" />
    <label for="email">Email <small>(optional)</small></label>
  </p-floatlabel>
  <ng-container *ngTemplateOutlet="errorsTemplate; context: { field: emailField, minLength, maxLength }">
  </ng-container>

  <p-checkbox formControlName="isAdmin" id="isAdmin" [binary]="true" aria-labelledby="isAdmin-label" />
  <label class="checkbox-label" for="isAdmin">Admin Permissions</label>

  <div class="buttons-wrapper">
    <p-button
      class="cancel-button"
      label="Cancel"
      severity="secondary"
      fluid
      (click)="onCancel()"
      aria-label="Cancel" />

    <p-button
      class="submit-button"
      [label]="selectedUser() ? 'Save Changes' : 'Create User'"
      type="submit"
      fluid
      [disabled]="form.invalid || !form.dirty"
      [attr.aria-label]="selectedUser() ? 'Save Changes' : 'Create User'" />
  </div>
</form>

<ng-template #errorsTemplate let-field="field" let-minLength="minLength" let-maxLength="maxLength">
  @if (field?.invalid && field?.dirty) {
    <div class="error-message" role="alert" aria-live="assertive">
      @if (field.errors?.['required']) {
        <small class="p-error">Field is required.</small>
      } @else if (field.errors?.['minlength']) {
        <small class="p-error">Field must be at least {{ minLength }} characters long.</small>
      } @else if (field.errors?.['maxlength']) {
        <small class="p-error">Field must be less than {{ maxLength }} characters.</small>
      } @else if (field.errors?.['customEmail']) {
        <small class="p-error">Please provide valid email.</small>
      }
    </div>
  }
</ng-template>
