.nav {

  &-wrapper {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 88rem;
    height: 100%;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
  }
}

.brand-logo {
  width: 100%;
  max-width: 12rem;
  height: auto;
}

.user-session-wrapper {
  display: flex;

  i {
    font-size: 2rem;
    margin-left: 1rem;

    &.pi-sign-out {
      cursor: pointer;
    }

    &.pi-user {
      cursor: help;

      @media (width <= 340px) {
        display: none;
      }
    }
  };
}
