<div class="nav-wrapper">
  <div class="nav-container">
    <a href="/" aria-label="home" aria-current="page">
      <img
        ngSrc="https://cdn.prod.website-files.com/628dc64b3cf16b7985f1dd3f/629b500f32efecbcc73e26b1_logo-deskbird.svg"
        priority
        width="200"
        height="40"
        alt="deskbird logo"
        class="brand_logo" />
    </a>

    <div class="user-session-wrapper">
      <i class="pi pi-user" [pTooltip]="username()" tooltipPosition="bottom" style="font-size: 2rem"></i>
      <i
        class="pi pi-sign-out"
        pTooltip="Logout"
        tooltipPosition="bottom"
        (click)="logout()"
        style="font-size: 2rem"></i>
    </div>
  </div>
</div>
